debug: False

modify:
  - regex: "^From: <.*@{{ inventory_hostname }}.{{ internal_private_domain }}>$"
    replace: "From: <mail@{{ company_main_domain }}>"
  - regex: "^X-Mailer:.*"
    replace: "X-Mailer: Microsoft Outlook"
