{% for mailrelay_opensmtpd_relay in mailrelay_opensmtpd_relays %}
{{ mailrelay_opensmtpd_relay['alias'] }} {{ mailrelay_opensmtpd_relay['login'] }}:{{ mailrelay_opensmtpd_relay['password'] }}
{% endfor %}
